.fixed {
    width: 100%;
}

main {
    margin-top: 125px;
}

main form {
    flex: 1;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: justify;
}