.fixed {
    width: 100%;
}

main {
    margin-top: 125px;
}

main section {
    flex: 1;
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: justify;
}

tr {
    margin-left: 200000px;
}

table, th, td{
    border-collapse: collapse;
    border: 2px solid black;
}

td, th {
    padding: 10px;
}

th {
    background-color: #2c3e50;
    color: white;
    text-align: center;
}